<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Messages</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Pull-to-refresh component -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content 
      pullingIcon="chevron-down-outline" 
      pullingText="Pull to refresh" 
      refreshingSpinner="crescent" 
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-spinner *ngIf="loading" name="crescent" color="primary" class="loading-spinner"></ion-spinner>
  
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let convo of conversations" button (click)="openConversation(convo.user_id)">
      <ion-avatar slot="start">
        <img [src]="convo.is_doctor && convo.doctor_id ? (convo.gender === 'female' 
        ? '/assets/default-female.png' 
        : '/assets/doctor.png')  : '/assets/default-patient.png'" />
      </ion-avatar>
      <ion-label>
        <h2>{{ convo.first_name }} {{ convo.last_name }}</h2>
        <p [ngClass]="{'unread': !convo.latest_message.is_read && !convo.latest_message.from_me}">
          {{ convo.latest_message.message_text | slice:0:50 }}{{ convo.latest_message.message_text.length > 50 ? '...' : '' }}
        </p>
      </ion-label>
      <ion-note slot="end" class="timestamp">
        {{ convo.latest_message.sent_at | date:'shortTime' }}
      </ion-note>
    </ion-item>
    <ion-item *ngIf="conversations.length === 0">
      <ion-label>No conversations yet</ion-label>
    </ion-item>
  </ion-list>
</ion-content>