
.register-container {
 

  ion-card {
   
    background: var(--ion-card-background);
   

    ion-card-header {
      
      ion-card-title {
        
        color: var(--ion-text-color);
        
      }
      ion-card-subtitle {
        
        color: var(--ion-subtext-color);
       
      }
    }

    
  }
}

.input-item {
 
  ion-label {
    color: var(--ion-subtext-color);
  }
  ion-icon.theme-icon {
    color: var(--ion-icon-color);
  }
}



.login-link {
  color: var(--ion-accent-color);

}

ion-text {
  color: var(--ion-text-color); /* For error messages or other text */
}